body {
    background-color: #EEE0CB;
}

.landing {
    width: 500px;
}

nav {
    background-color: #0F0A0A;
}

.navbar-nav a {
    color: #EEE0CB;
}

.nav-link:hover {
    color: #E15554;
}

.carousel-image {
    max-width: 500px;
    max-height: 500px;
}